.root {
  width: 300px;
  border: 2px solid rgba(0,0,0,0.1);
  background-color: #d7d7d7;
  text-align: left;
  padding: 10px;

  b {
    text-align: left;

  }

  p {
    text-decoration: underline;
  }

  img {
    width: 200px;
    height: 250px;
    padding: 20px 50px;
    align-items: center;
  }
}